<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid navbar-outer-div">
    <!-- lhs options -->
    <i class="fa-solid fa-otter"> TripEasy</i>
    <!-- search bar -->
    <%-include("../navbar/search.ejs") %>
    <!-- rhs options -->
    <%-include("../navbar/rhs.ejs") %>
  </div>
</nav>