<style>
    .search-btn {
        background-color: #fe424d;
        color: #fff;
        border-radius: 25px;
        padding: 0px 1rem 0px 1rem;
    }

    .search-btn:hover {
        background-color: #fe424d;
        color: #fff;
    }

    .search-inp {
        border-radius: 25px;
        padding: 0.5rem 3rem 0.5rem 3rem;
    }
</style>

<div class="navbar-nav ms-auto">
    <form class="d-flex" role="search">
        <input class="form-control me-2 search-inp" type="search" placeholder="Search destination">
        <button class="btn search-btn" type="submit">Search</button>
    </form>
</div>