<!-- new listing page -->

<% layout("./layouts/boilerplate") %>

    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h2>Create New Listing</h2> <br>
            <!-- new listing form -->
            <%-include("../includes/listing/newForm.ejs") %>
        </div>
    </div>
    